<!-- views/partials/footer.ejs -->

<div class="footer bg-white pt-3 pb-3 pr-5 pl-5 container-fluid">
  <p class="text-center text-muted">&copy; Copyright 2018 <a href="https://github.com/Benji-Leboe" target="_blank">Benji Leboe</a></p>
</div>