<!-- views/partials/header.ejs -->

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand text-light" href="/">TinyApp</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active text-light" href="/">Home</a>
      <a class="nav-item nav-link text-light" href="/about">About</a>
      <a class="nav-item nav-link text-light" href="/urls">URLs</a>
      <a class="nav-item nav-link text-light" href="/urls/new">Shorten URL</a>
    </div>
  </div>
</nav>