<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html>
<head>
  <% include ../partials/_head %>
</head>
<body class="container-fluid">

    <div class="container-fluid">
  
      <div class="container-fluid">
        <header>
          <% include ../partials/_header %>
        </header>
      </div>
      
      <div class="container-fluid">
          <main>
            <div class="jumbotron">
              <p>PLACEHOLDER</p>
            </div>
          </main>
      </div>
    
      <div class="container-fluid fixed-bottom">
        <footer class="footer">
          <% include ../partials/_footer %>
        </footer>
      </div>
      
    </div>
  
  </body>
</html>