<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html>
<head>
  <% include ../partials/_head %>
</head>
<body class="pb-5">

    <div class="container-fluid">
  
      <div class="container-fluid">
        <header>
          <% include ../partials/_header %>
        </header>
      </div>
      
      <div class="container-fluid">
          <main>
            <div class="jumbotron">
              <h1 class="display-4">About TinyApp:</h1>
              <p class="lead ml-2">TinyApp was created as a project for Lighthouse Labs!</p>
              <div class="container-fluid ml-4">                  
                  <p class="row">This app was designed and created by Benji Leboe for a four-day project during Week 2.</p>
                  <p class="row">Sign up, log in and shorten any URL you want!</p>
                  <p class="row">URLs will be stored in a database only you can access, but anyone can follow the link if they have it!</p>
              </div>
            </div>
          </main>
        </div>
    
      <div class="container-fluid fixed-bottom">
        <footer class="footer">
          <% include ../partials/_footer %>
        </footer>
      </div>
      
    </div>
  
</body>
</html>