<!-- views/pages/index.ejs -->

<!DOCTYPE <!DOCTYPE html>
<html>
<head>
  <% include ..partials/head %>
</head>
<body class="container">
  <header>
    <% include ../partials/header %>
  </header>
  
  <main>
    <div class="jumbotron">
      <h1>TinyApp template</h1>
      <p>Template for TinyApp development</p>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>