<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html>
<head>
  <% include ../partials/_head %>
</head>
<body class="container-fluid">

  <div class="container-fluid">

    <div class="container-fluid">
      <header>
        <% include ../partials/_header %>
      </header>
    </div>
    
    <div class="container-fluid">
      <main>
        <div class="jumbotron">
          <h1 class="display-4">Welcome to TinyApp!</h1>
          <p class="lead">TinyApp is a simple URL-shortening tool that makes linking to long URLs easy-peasy.</p>
          <hr class="my-4">
          <p>Click the button to get started:</p>
          <a class="btn btn-primary btn-lg" href="/urls/new">Let's Go!</a>
        </div>
      </main>
    </div>
  
    <div class="container-fluid fixed-bottom">
      <footer class="footer">
        <% include ../partials/_footer %>
      </footer>
    </div>

  </div>

</body>
</html>