<!DOCTYPE <!DOCTYPE html>
<html>
<head>
  <% include ../partials/_head %>
</head>
<body class="container">
  <header>
    <% include ../partials/_header %>
  </header>
  
  <main>
    <h3>Shortened URL:</h3>
    <p>http://localhost:8080/u/<%= shortURL %></p>
  </main>

  <footer>
    <% include ../partials/_footer %>
  </footer>

</body>
</html>