<!-- views/pages/urls_index.ejs -->

<!DOCTYPE <!DOCTYPE html>
<html>
<head>
  <% include ../partials/_head %>
</head>
<body class="container">
  <header>
    <% include ../partials/_header %>
  </header>
  
  <main>
    <div>
        <ul>
          <% for(let url in urls){ %>
            <li><%= urls[url] %></li>
          <% }; %>
        </ul>
        <a href='#'>Click here to shorten your URL!</a>
    </div>
  </main>

  <footer>
    <% include ../partials/_footer %>
  </footer>

</body>
</html>