<!DOCTYPE html>
<html>
<head>
  <% include ../partials/_head %>
</head>

<body class="pb-5">

  <div class="container-fluid">

    <div class="container-fluid">
      <header>
        <% include ../partials/_header %>
      </header>
    </div>
    
    <div class="container-fluid">
      <main>
        <div class="jumbotron">
          <div class="row justify-content-center mt-5 pt-2">
            <h3>Shorten your URL!</h3>
          </div>
          <div class="row justify-content-center mt-2 pt-1">
            <p class="lead">Adding "http://" is optional.</p>
          </div>
          <% if(errors){ %>
            <div class="row justify-content-center mt-2 pt-1">
              <p class="text-danger"><%= errors %></p>
            </div>
          <% } %>  
          <div class="row justify-content-center">
            <form class="form-inline" action="/urls" method="POST" autocomplete="off" style="margin:150px;">
              <div class="form-group">
                <label class="mr-1 ml-1" for="longURL">Enter a URL:</label>
                <input class="form-control mr-1 ml-1" id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
                <button type="submit" class="btn btn-primary btn-sm mr-1 ml-1">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </main>
    </div>
  
    <div class="container-fluid fixed-bottom">
      <footer class="footer">
        <% include ../partials/_footer %>
      </footer>
    </div>
    
  </div>
  
</body>
</html>